@charset "UTF-8";

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");


#detail {
	margin-top:20px; font-size:18px;
	color: #FFA200;
}

img {
	margin: 10px;
	width: 316px;
    height: 451px;
	object-fit: cover;
	border-radius: 10px;
	}

.p2 {clear: both;}

p {
	margin-left: 10px;
}

.btn-design {
	background-color: #FFA200;
	border-bottom-color: #FFA200;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	border-bottom-style: solid;
	border-bottom-width: 1.26984px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: #FFA200;
	border-left-style: solid;
	border-left-width: 1.26984px;
	border-right-color: #FFA200;
	border-right-style: solid;
	border-right-width: 1.26984px;
	border-top-color: yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-top-style: solid;
	border-top-width: 1.26984px;
	box-sizing: border-box;
	color: white;
	cursor: ponter;
	display: inline-block;
	font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
	font-size: 24px;
	height: 59.9802px;
	letter-spacing: -0.36px;
	line-height: 58px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0px;
	text-align: center;
	text-decoration-color: white;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-thickness: auto;
	user-select: auto;
	vertical-align: middle;
	width: 322.996px;
	
}

div {
	text-align: center;
}

 #info div {
        display: block;
        margin-bottom: 5px; 
    }

a {
	text-decoration: none;
	font-size: 18pt;
    color: #FFA200;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* .boxdesign {
	text-align: center;
	border: 2px solid #000;
	width: 500px;
	height: 200px;
	margin: 30px 50px;
	box-sizing:border-box;
	display: flex;
	 justify-content: center; 가로 방향 가운데 정렬합니다.
        align-items: center; 세로 방향 가운데 정렬합니다.
}
 */