@charset "UTF-8";

.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}

.foot-box-a, .foot-box-b {
    width: 100%;
    margin-top: 1%;
    padding-left:5px;
}

.foot-box-b  {
    margin-bottom:4%;
}

.foot-box-a > h2 {
    display: inline-block;
}

.foot-box-a > ul {
    float: right;
    margin-top: 1%;
    padding-right:5px;
}

.foot-box-a > ul > li {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    border: solid 1px #aaaaaa;
}

.foot-box-a > ul > li:first-child {
    border: none;
}

.foot-box-a::after {
    content: "";
    display: block;
    clear: both;
}

.foot-box-b > .fot-l {
    float: left;
    text-align: left;
    display: inline-block;
}

.foot-box-b > .fot-r {
    float: right;
    margin-bottom: 1%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}
